@model List<Departamento>

<h1> Home </h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Departamentos" asp-action="PaginarVistaDeptRegistro">Paginacion departamentos</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Departamentos" asp-action="PaginarVistaDeptGrupo">Paginacion grupo</a>
    </li>
</ul>
